*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--Dark-cyan: hsl(185, 75%, 39%);
	--Very-dark-desaturated-blue: hsl(229, 23%, 23%);
	--Dark-grayish-blue: hsl(227, 10%, 46%);
	--Dark-gray: hsl(0, 0%, 59%);
}

body {
	font-family: 'Kumbh Sans', sans-serif;
	background-color: var(--Dark-cyan);
	overflow: hidden;
	font-size: 18px;
}

main {
	height: 100vh;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container::before {
	content: url(images/bg-pattern-top.svg);
	position: absolute;
	bottom: 50%;
	right: 50%;
	z-index: -1;
}
.container::after {
	content: url(images/bg-pattern-bottom.svg);
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: -2;
}
.card {
	width: 25rem;
	height: 26rem;
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 20px;
	overflow: hidden;
}

.card--top {
	width: 100%;
	height: 35%;
	background: url(images/bg-pattern-card.svg);
}

.card--bottom {
	width: 100%;
	height: 65%;
}

.card--img {
	width: 7rem;
	height: 7rem;
	margin: -3.5rem auto;
	border-radius: 50%;
	border: 5px solid white;
	overflow: hidden;
}

.card--img img {
	width: 100%;
}

.card--body {
	padding-top: 2.5rem;
	height: 100%;
}
.card--text {
	text-align: center;
	width: 9rem;
	padding: 2rem 0;
	margin: auto;
	font-weight: 700;
}
.card--text span {
	font-size: 16px;
	font-weight: normal;
	color: var(--Dark-gray);
}

.card--footer {
	border-top: 1px solid var(--Dark-gray);
	display: flex;
	padding-top: 2rem;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.card--status {
	font-size: 0.8rem;
	letter-spacing: 2px;
	color: var(--Dark-grayish-blue);
}

.card--status span {
	font-size: 18px;
	display: block;
	font-size: 1rem;
	letter-spacing: 1px;
	color: black;
	font-weight: 700;
	margin-bottom: 4px;
}

@media screen and (max-width: 480px) {
	.container::before {
		bottom: 50%;
		right: 40%;
	}
	.container::after {
		top: 50%;
		left: 40%;
	}
	.container {
		padding: 0 1rem;
	}
	.card {
		width: 20rem;
	}
}
