*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--Bright-orange: hsl(31, 77%, 52%);
	--Dark-cyan: hsl(184, 100%, 22%);
	--Very-dark-cyan: hsl(179, 100%, 13%);
	--Transparent-white/*(paragraphs)*/: hsla(0, 0%, 100%, 0.75);
	--Very-light-gray/*(background, headings, buttons)*/: hsl(0, 0%, 95%);
}

body {
	width: 100%;
	padding: 5.5rem 0;
	background-color: var(--Very-light-gray);
	/* height: 100vh; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Big Shoulders Display', cursive;
	/* font-size: 15px; */
}

.cards {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	border-radius: 10px;
	overflow: hidden;
}

.card {
	width: 330px;
	height: 445px;
	padding: 2.8rem;
}

.card-title {
	text-transform: uppercase;
	padding-top: 1.8rem;
	font-size: 2.5rem;
	color: var(--Very-light-gray);
}

.card-text {
	font-family: 'Lexend Deca', sans-serif;
	padding: 1.6rem 0;
	line-height: 1.5rem;
	color: var(--Transparent-white);
}

.card-button {
	background-color: var(--Very-light-gray);
	border: none;
	border-radius: 30px;
	font-size: 1rem;
	padding: 0.9rem 1.7rem;
	color: white;
	text-transform: capitalize;
	border: 2px solid var(--Transparent-white);
	transition: background-color 0.2s ease-in-out;
}

.card-button:hover {
	cursor: pointer;
	color: var(--Transparent-white) !important;
	background-color: transparent;
}

.card-1 {
	background-color: var(--Bright-orange);
}

.card-1 .card-button {
	color: var(--Bright-orange);
}

.card-2 {
	background-color: var(--Dark-cyan);
}
.card-2 .card-button {
	color: var(--Dark-cyan);
}

.card-3 {
	background-color: var(--Very-dark-cyan);
}
.card-3 .card-button {
	color: var(--Very-dark-cyan);
}

@media screen and (min-width: 1440px) {
	body {
		height: 100vh;
	}

	.cards {
		margin: 0;
		flex-direction: row;
	}

	.card {
		height: auto;
	}

	.card-text {
		padding-right: 1rem;
	}
	.card-button {
		margin: 4rem 0 1rem 0;
	}
}
